/* Navbar.css */
.navbar {
  box-shadow: 0 1px 2px -2px gray;
  padding: 1rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5rem;
}

.nav-links {
  display: flex;
  gap: 3rem;
  font-family: "Kode Mono", monospace;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.nav-links a:hover {
  color: #ffdba6;
}

.nav-links a.active {
  color: #ffdba6;
}

.logout-link {
  color: white;
}
.logout-link:hover {
  color: #ffdba6;
}

/* Center logo */
.nav-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-family: "Kode Mono", monospace;
}

.nav-logo:hover {
  color: white;
}

/* Media Queries*/

@media screen and (max-width: 1024px) {
  .nav-container {
    padding: 0 1.5rem;
  }

  .nav-links {
    gap: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .nav-container {
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
  }

  .nav-logo {
    order: 1;
    font-size: 1.4rem;
    text-align: center;
  }

  .nav-links {
    order: 2;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .nav-logo {
    font-size: 1.3rem;
  }

  .nav-links {
    gap: 1rem;
  }
}