/* Navbar.css */
.navbar {
    box-shadow: 0 1px 2px -2px gray;
    padding: 1rem;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5rem;
}

.nav-links {
    display: flex;
    gap: 3rem;
    font-family: 'Kode Mono', monospace;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.nav-links a:hover {
    color: #FFDBA6;
}

.nav-links a.active {
    color: #FFDBA6;
}

/* Center logo */
.nav-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-family: 'Kode Mono', monospace;
}

.nav-logo:hover {
    color: white;
}
